@page "/login"
@layout MoneyBall.Components.Layout.EmptyLayout
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using MoneyBall.Services
@inject AuthService AuthService

<PageTitle>Login</PageTitle>


<div class="wrapper">
    <div class="login-box">
        <h1>MoneyBall</h1>

        @if (_invalidCredentials)
        {
            <p class="text-danger">Invalid username or password.</p>
        }

        <EditForm Model="_model" FormName="login" OnValidSubmit="HandleLoginAsync" method="post">
            <DataAnnotationsValidator />
            <div class="mb-3">
                <label>Username</label>
                <InputText class="form-control" @bind-Value="_model.Username" />
            </div>
            <div class="mb-3">
                <label>Password</label>
                <InputText class="form-control" type="password" @bind-Value="_model.Password" />
            </div>
            <button class="btn btn-primary" type="submit">Log in</button>
        </EditForm>
    </div>
</div>


@code {
    [SupplyParameterFromForm]
    private LoginModel _model { get; set; } = new();

    private bool _invalidCredentials;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private async Task HandleLoginAsync()
    {
        var user = await AuthService.ValidateCredentialsAsync(_model.Username, _model.Password);
        if (user is null)
        {
            _invalidCredentials = true;
            return;
        }

        var claims = new List<Claim>
        {
            new(ClaimTypes.NameIdentifier, user.Id.ToString()),
            new(ClaimTypes.Name, user.Username),
            new(ClaimTypes.Role, user.Role.ToString())
        };
        var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
        await HttpContext.SignInAsync(CookieAuthenticationDefaults.AuthenticationScheme, new ClaimsPrincipal(identity));

        HttpContext.Response.Redirect("/");
    }

    private class LoginModel
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
    }
}
